
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Shopping Cart</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <% pages.forEach(p => { %>
                        <% if (p.slug == "home") { %>
                            <li><a href="/"><%= p.title %></a></li>
                        <% } else { %>
                            <li><a href="/<%= p.slug %>"><%= p.title %></a></li>
                        <% } %>
                     <% }) %>
                </ul>
               
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/cart/checkout">My Cart(
                            <% if (typeof cart !== "undefined") { %>
                                <%= cart.length %>
                            <% } else { %>
                              0 
                            <% } %>
                        )</a>
                    
                    </li>
                    <% if (user) { %>
                        <li><a href="/user/logout">Hi,<%= user.name %> logout</a></li>
                     <% } else { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/register">Register</a></li>
                                <li><a href="/user/login">log in</a></li>
                                
                            </ul>
                        </li>
                    <% } %>
                    <% if (user && user.admin == 1) { %>
                        <li><a href="/admin/page">Admin manager</a></li>
                    <% } %>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>   
        <div class="container">  
        <%- messages('messages', locals) %>   
        <% if (errors) { %>
            <% errors.forEach(function (r){ %>
              <div class="alert alert-danger">
                  <%= r.msg %> 
              </div>
            <% }); %>
        <% } %>
    
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <h3>Category</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a href="/product/all">All product</a></li>
                    <% categorys.forEach(cate => { %>
                        <li class="list-group-item"><a href="/product/<%= cate.slug %>"><%= cate.title %></a></li>
                    <% }); %>
                    
                  </ul>
                
            </div>
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-8">
                
            
        
        
        